<div id="content_picture2">
    <%= image_tag 'man.png', alt: 'Picture not found', id: 'picture2' %>
</div>

<div id="ontop_circle2">
<strong>We will <br> Deliver <br> for you!</strong>
</div>

<div id="right_side_content1b">
    <p>Welcome To</p>
    <pre>Delievery Services</pre>
    <p>Professional & Guranteed</p>
    <div id="btn_div1b">
        <%= link_to "Add New Service", new_user_registration_path, class: "btn1b" %>
        <%= link_to "See Available Services", new_user_session_path, class: "btn1b" %>
    </div>
</div>

