/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
    background-color: rgb(-4.6, 82.2, 157.7);
    margin: 0px;
    padding: 0px;
  }

* {
    font-family: 'Ubuntu', sans-serif;
  }

.main_container{
    margin: 0px;
    padding: 0px;
}

//Logo  CSS
#logo{
    display: inline-block;
    margin-left: 20px ;
    margin-top: 20px;
}
#logo_pic{
    width: 120px;
    height: 120px;
}

//Nav-Bar Css
#nav_bar{
    display: inline-flex;
    position: absolute;
    top: 28px;
    width: 92.2%;
    justify-content: flex-end;
}
#nav_list{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
}
.nav_items{
    color: white;
    font-size: 23px;
    margin-right: 20px;
    margin-left: 20px;
    display: inline-block;
}
/*Dropdown Css */
#dropdown{
    list-style: none;
    padding: 0px;
    position: absolute;
    top: 40px;
    
    border: solid 2px white;
}
.dropdown_items{
    color: white;
    border-bottom: solid 2px white;
    margin-top: 2px;
}

#dclick:hover #dropdown{
    display: block;
}

#nav_login{
    border: solid 1px white;
    box-sizing: border-box;
    text-decoration: none;
    padding: 10px;
}

#nav_logout{
    border: solid 1px white;
    box-sizing: border-box;
    text-decoration: none;
    padding: 10px;
}