// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu&display=swap');


#right_side_content2{
    position: absolute;
    top: 235px;
    left: 1250px;
}
#right_side_content2 h1{
    color: white;
    text-align: center;
}
.form_field2{
    margin: 10px;
}

.lab2{
    color: white;
    font-size: 20px;

}
.input_box2{
    border: solid 1px rgb(2, 7, 58);
    width: 300px;
    height: 25px;
    border-radius: 5px;
}

#btn_div3{
    text-align: center;
    margin-top: 10px;
    position: relative;
}

#link_to_login_at_reset{
    border-radius: 5px;
    color: rgb(-4.6, 82.2, 157.7);
    background-color: white;
    display: inline-block;
    position:absolute;
    top: 0px;
    left: 1605x;
    height: 12px;
    text-decoration: none;
    margin-left: 5px;
    padding: 15px;
    padding-top: 6px;
    padding-left: 11px;
    padding-right: 11px;
}

#link_to_signup_at_reset{
    border-radius: 5px;
    color: rgb(-4.6, 82.2, 157.7);
    background-color: white;
    display: inline-block;
    position:absolute;
    top: 0px;
    left: 88.5px;
    height: 17px;
    text-decoration: none;
    margin-left: 5px;
    padding: 8px;

}
#send_email{
    text-align: center;
}

#send_email_button{
    background-color: white;
}

input{
    color: rgb(-4.6, 82.2, 157.7);
    font-size: 14px;
}

